extends ../components/base/layout

block variables
  - const title = "Дмитрий Фомин и партнеры. Новость"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "news-inner-1.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    section.news-item-head.section-main-picture
      .container-inner
        .section-main-picture__info-wrapper
          +bread-crumbs([
            {
              text: "Главная",
              href: "index.html"
            },
            {
              text: "Новости",
              href: "news.html"
            },
            {
              text: "Управляющий партнёр Адвокатского бюро «Дмитрий Фомин и Партнёры» Дмитрий Анатольевич Фомин утвердил стандарт Бюро об оказании юридической помощи по уголовным делам."
            }
          ])
          h1.news-item-head__title Управляющий партнёр Адвокатского бюро «Дмитрий Фомин и Партнёры» Дмитрий Анатольевич Фомин утвердил стандарт Бюро об оказании юридической помощи по уголовным делам.
          .news-item-head__pretext
            p Опубликовано:
              time(datetime="2024-07-04") 4 июля 2024 г.
            a(href="#") #события
          .news-item-head__text
            p
              | На общем собрании членов Адвокатского бюро, Дмитрий Анатольевич заслушал доклад адвоката,
              | Старшего партнёра Бюро – руководителя уголовной практики Мариненко Кирилла Алексеевича,
              | который представил проект Стандарта об оказании юридической помощи по уголовным делам.
              | Данный документ затрагивает все ключевые вопросы, связанные с защитой прав доверителей,
              | и включает в себя практические рекомендации адвокатов Бюро (бывших судей и прокуроров)
              | в наиболее сложных правовых ситуациях, возникающих в процессе уголовного судопроизводства.
            p
              | Дмитрий Анатольевич утвердил предложенный Стандарт, но призвал адвокатов помнить,
              | что каждое дело уникально и защита Доверителя не может быть сведена к механической
              | работе по выполнению, каких-либо алгоритмов. «Адвокат должен творчески подходить
              | к своей работе и всегда находить лучшие решения» - сказал Дмитрий Анатольевич.

      .section-main-picture__images
        +picture("content/services", "service-3", "png", 773, 760, "фото для раздела", false)
    +slider-news-section("Смотрите так же")

block modals
  +modal("modal--sign-up-consultation")(data-modal="sign-up-consultation")
    +modal-sign-up-consultation()
