extends ../components/base/layout

block variables
  - const title = "Дмитрий Фомин и партнеры. Новость"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "news-inner-1.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    section.news-item-head.section-main-picture
      .container-inner
        .section-main-picture__info-wrapper
          +bread-crumbs([
            {
              text: "Главная",
              href: "index.html"
            },
            {
              text: "Новости",
              href: "news.html"
            },
            {
              text: "Управляющий партнёр АБ «Дмитрий Фомин и Партнёры» Дмитрий Анатольевич Фомин провёл рабочую встречу с it-разработчиками, которые разрабатывают для нужд Бюро программный продукт, позволяющий более эффективно защищать интеллектуальные права Доверителей."
            }
          ])
          h1.news-item-head__title Управляющий партнёр АБ «Дмитрий Фомин и Партнёры» Дмитрий Анатольевич Фомин провёл рабочую встречу с it-разработчиками, которые разрабатывают для нужд Бюро программный продукт, позволяющий более эффективно защищать интеллектуальные права Доверителей.
          .news-item-head__pretext
            p Опубликовано:
              time(datetime="2024-08-03") 3 августа 2024 г.
            a(href="#") #события
          .news-item-head__text
            p
              | Под руководством Управляющего партнёра Адвокатского бюро «Дмитрий Фомин и Партнёры»
              | Фомина Дмитрия Анатольевича продолжается разработка программного продукта,
              | призванного улучшить качество оказываемой юридической помощи доверителям,
              | в сфере защиты интеллектуальных прав.
            p
              | На общей встрече Заместитель Управляющего партнёра Масрур Джалилов доложил,
              ||что за один месяц совместной работы с разработчиками удалось составить техническое
              | задание и завершить первый этап разработки программного продукта. В настоящее время,
              | программный продукт позволяет автоматизировано выявлять сайты на котором, в нарушение
              | прав Доверителей, распространяется пиратский контент. В ближайшее время программа сможет
              | автоматизировано составлять заявления о принятии обеспечительных мер и исковые заявления.
              | На третьем этапе программа будет позволять автоматизировано направлять процессуальные
              | документы в суд. При этом этапы разделены таким образом, что при начале реализации
              | каждого следующего этапа, адвокаты имеют возможность использовать уже разработанную
              | часть программы, то есть разработанная часть программы уже активно используется
              | адвокатами в работе.
            p
              | Дмитрий Анатольевич высоко оценил проделанную работу и призвал не сбавлять темп.
              | Кроме того, Управляющий партнёр отметил, что не сомневается в том, что цели,
              | поставленные перед командой разработчиков, будут достигнуты и в будущем будут
              | автоматизированы иные направления, в рамках которых адвокаты Бюро оказывают помощь
              | Доверителям.

      .section-main-picture__images
        +picture("content/services", "service-2", "png", 773, 760, "фото для раздела", false)
    +slider-news-section("Смотрите так же")

block modals
  +modal("modal--sign-up-consultation")(data-modal="sign-up-consultation")
    +modal-sign-up-consultation()
