extends ../components/base/layout

block variables
  - const title = "Дмитрий Фомин и партнеры. Общеуголовная практика"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "service-inner.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +service()
    +about-service()
    +advantages()
    +slider-partners-section()
    +slider-news-section("Новости")

block modals
  +modal("modal--sign-up-consultation")(data-modal="sign-up-consultation")
    +modal-sign-up-consultation()
