mixin about
  section.about.section-main-picture.section-main-picture--not-margin-bottom
    .container-inner
      .section-main-picture__info-wrapper
        +bread-crumbs([
          {
            text: "Главная",
            href: "index.html"
          },
          {
            text: "О компании"
          }
        ])
        h1.about__title О нас
        .about__text
          p
           | Наши адвокаты приобрели известность в юридическом сообществе, успешно работая на ключевых
           | должностях в судебной системе, в органах прокуратуры и в государственных учреждениях и
           | корпорациях.
          p
            | Этот опыт позволяет им использовать нестандартные подходы в разрешении самых сложных
            | правовых задач.Это также означает, что мы обладаем уникальными компетенциями,
            | которые помогают нам эффективно стоять на страже прав наших доверителей.
          p
            | Наше адвокатское бюро объединила в себе единомышленников, имеющих общие взгляды на
            | совместную коллективную деятельность и видящих свое призвание в оказании правовой
            | помощи всем, кто в ней нуждается. Адвокаты нашего адвокатского бюро придерживаются
            | постулата о том, что Право – есть искусство добра и справедливости (© Публий Ювентий Цельс).
            | Именно этот принцип является ключевым в деятельности адвокатов нашей Коллегии.
    .section-main-picture__images
      +picture("content/section", "about", "png", 773, 760, false)
