mixin about-specialist
  section.about-specialist.section
    .container-inner
      h1 О специалисте
      .about-specialist__info.no-transition-global(data-tabs='parent', data-delay='300')
        .about-specialist__controls(data-tabs='controls')
          button.about-specialist__control.is-active(type='button', data-tabs='control') Образование
          button.about-specialist__control(type='button', data-tabs='control') Опыт
          button.about-specialist__control(type='button', data-tabs='control') Публикации
        .about-specialist__content(data-tabs='content')
          .about-specialist__element(data-tabs='element')
            p
              | В 1996 году отличием окончил Московский государственную университет М.В. Ломоносова.
            p
              | В декабре 1996 года назначен судьей Кунцевского районного суда г. Москвы.
              | В декабре 2001 года стал судьей Московского городского суда.
              | В октябре 2009 года назначен председателем судебной коллегии по уголовным делам.
              | С февраля 2010 года продолжительное время являлся заместителем председателя
              | Московского городского суда, а также председателем экзаменационной комиссии г. Москвы
              | по приёму квалификационного экзамена на должность судьи.
            ul
              li из сделок M&A и корпоративных договоров;
              li из сделок M&A и корпоративных договоров;
              li из сделок M&A и корпоративных договоров;
          .about-specialist__element(data-tabs='element')
            p
              | В 1996 году отличием окончил Московский государственную университет М.В. Ломоносова.
            p
              | В декабре 1996 года назначен судьей Кунцевского районного суда г. Москвы.
              | В декабре 2001 года стал судьей Московского городского суда.
              | В октябре 2009 года назначен председателем судебной коллегии по уголовным делам.
              | С февраля 2010 года продолжительное время являлся заместителем председателя
              | Московского городского суда, а также председателем экзаменационной комиссии г. Москвы
              | по приёму квалификационного экзамена на должность судьи.
            ul
              li из сделок M&A и корпоративных договоров;
              li из сделок M&A и корпоративных договоров;
              li из сделок M&A и корпоративных договоров;
          .about-specialist__element(data-tabs='element')
            p
              | В 1996 году отличием окончил Московский государственную университет М.В. Ломоносова.
            p
              | В декабре 1996 года назначен судьей Кунцевского районного суда г. Москвы.
              | В декабре 2001 года стал судьей Московского городского суда.
              | В октябре 2009 года назначен председателем судебной коллегии по уголовным делам.
              | С февраля 2010 года продолжительное время являлся заместителем председателя
              | Московского городского суда, а также председателем экзаменационной комиссии г. Москвы
              | по приёму квалификационного экзамена на должность судьи.
            ul
              li из сделок M&A и корпоративных договоров;
              li из сделок M&A и корпоративных договоров;
              li из сделок M&A и корпоративных договоров;
