mixin about-service()
  .about-service
    .about-service__left-wrapper
      .about-service__image
        +picture("content/service", "about-service", "png", 837, 220, true)
      .about-service__left-text
        p Юридическая фирма «Восход» образована 28 июня 2022 года в Москве Николаем Феоктистовым, Евгением Самойловым и Евгением Чернявским и объединяет юристов, ранее работавших в московских офисах White & Case, Debevoise & Plimpton и Baker Botts.
        p Мы сопровождаем комплексные сделки слияний и поглощений (M&A) и проекты в сфере корпоративного права, консультируем и представляем интересы клиентов в судебных и арбитражных (третейских) разбирательствах в России и за рубежом.

    .about-service__right-wrapper
      .about-service__title-group
        p.about-service__subtitle Описание
        h2.about-service__title О практике
      .about-service__right-text
        p
          | Арбитражная практика – это одно из ключевых направлений работы Коллегии адвокатов, основанное на представлении интересов доверителей в арбитражных судах. Мы специализируемся на разрешении споров, возникающих в сфере бизнеса и коммерческих отношений.
        p
          | Мы предоставляем полный спектр юридических услуг в области арбитража, начиная от консультаций по альтернативным способам разрешения споров до полного представления интересов доверителей на всех стадиях арбитражного процесса. Наша команда адвокатов имеет богатый опыт ведения различных дел в Арбитражных судах и глубокое знание актуального законодательства и судебной практики.
        p
          | Мы стремимся предоставить нашим Доверителям качественную и эффективную юридическую помощь, основанную на глубоком понимании их потребностей и целей.
        p
          | Мы также активно участвуем в различных арбитражных процедурах, в том числе проводим медиации и переговоры, с целью достижения быстрого и справедливого разрешения споров. Наша Коллегия тесно сотрудничает с экспертами, юристами и другими профессионалами, чтобы обеспечить нашим доверителям комплексный и всесторонний подход к решению их проблем.
        p
          | Мы гордимся нашими достижениями в арбитражной практике и стремимся к постоянному совершенствованию и развитию. Наша коллегия всегда открыта для новых вызовов и готова предложить нашим доверителям инновационные и эффективные решения.
        p
          | Если у вас возник вопрос или спор, связанный с бизнесом или коммерческими отношениями, наша Коллегия адвокатов готова оказать Вам квалифицированную помощь.
