mixin about-office()
  .about-office
    .about-office__left-wrapper
      .about-office__image
        +picture("content/about", "office", "png", 837, 220, true)
      .about-office__left-text
        p Юридическая фирма «Восход» образована 28 июня 2022 года в Москве Николаем Феоктистовым, Евгением Самойловым и Евгением Чернявским и объединяет юристов, ранее работавших в московских офисах White & Case, Debevoise & Plimpton и Baker Botts.
        p Мы сопровождаем комплексные сделки слияний и поглощений (M&A) и проекты в сфере корпоративного права, консультируем и представляем интересы клиентов в судебных и арбитражных (третейских) разбирательствах в России и за рубежом.

    .about-office__right-wrapper
      .about-office__title-group
        p.about-office__subtitle О колегии
        h2.about-office__title Адвокатское бюро «Дмитрий Фомин и партнеры»
      .about-office__right-text
        p
          | Мы стремимся предоставить нашим Доверителям качественную и эффективную юридическую помощь, основанную на глубоком понимании их потребностей и целей.
        p
          | Мы также активно участвуем в различных арбитражных процедурах, в том числе проводим медиации и переговоры, с целью достижения быстрого и справедливого разрешения споров. Наша Коллегия тесно сотрудничает с экспертами, юристами и другими профессионалами, чтобы обеспечить нашим доверителям комплексный и всесторонний подход к решению их проблем.
        p
          | Мы гордимся нашими достижениями в арбитражной практике и стремимся к постоянному совершенствованию и развитию. Наша коллегия всегда открыта для новых вызовов и готова предложить нашим доверителям инновационные и эффективные решения.

