mixin colleague()
  section.colleague.section-main-picture
    .container-inner
      .section-main-picture__info-wrapper
        +bread-crumbs([
          {
            text: "Главная",
            href: "index.html"
          },
          {
            text: "Команда",
            href: "team.html"
          },
          {
            text: "Фомин Дмитрий Анатольевич"
          }
        ])
        h1.colleague__title Фомин Дмитрий Анатольевич
        .colleague__pretext
          p Председатель Коллегии
        .colleague__text
          p
           | В 1996 году отличием окончил Московский государственную университет М.В. Ломоносова.
          p
            | В декабре 1996 года назначен судьей Кунцевского районного суда г. Москвы.
            | В декабре 2001 года стал судьей Московского городского суда.
            | В октябре 2009 года назначен председателем судебной коллегии по уголовным делам.
            | С февраля 2010 года продолжительное время являлся заместителем председателя Московского
            | городского суда, а также председателем экзаменационной комиссии г.
            | Москвы по приёму квалификационного экзамена на должность судьи.
        +btn({
          href: "#",
          text: "Записаться на консультацию"
        })(data-open-modal="sign-up-consultation")
    .section-main-picture__images
      +picture("content/section", "team-inner", "png", 773, 760, false)
