mixin error()
  .error
    h1.error__404 404
    .error__info
      p.error__warning Такой страницы не существует
      p.error__text Страница, которую вы ищете не существует или не доступна. Вернитесь на главную или воспользуйтесь навигацией сайта.
      +btn({
        href: "index.html",
        text: "Вернуться на главную"
      })

