mixin intro()
  section.intro.section
    .container
      .intro__text-wrapper
        .intro__title-wrapper
          p Московское
          h1 Адвокатское бюро
        p.text-indent
          | Мы оказываем юридическую помощь гражданам и организациям в различных областях права.
          | Наша команда состоит из адвокатов с богатым опытом работы в судебной системе, прокуратуре,
          | государственных корпорациях, бизнесе и органах власти. Благодаря опыту и командной работе,
          | мы находим нестандартные правовые пути для решения поставленных перед нами задач.
    .intro__images
      .intro__mask
        <svg class="blink" viewBox="0 0 1055 950" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="294" cy="470" rx="0" ry="0" transform="rotate(-20 294 470)" />
        </svg>
