mixin main-service()
  section.main-service.section
    .title-group
      .container-inner
        h2 Практики
        p.text-indent
          | Широкий спектр юридических возможностей для всесторонней защиты ваших интересов
          | и интересов вашего бизнеса.

    +practices()
