mixin news()
  -
    const news = [
      {
        datetime: "2024-09-02",
        time: "2 сентября 2024 г.",
        href: "news-inner-1.html",
        title: "Адвокаты Адвокатского бюро «Дмитрий Фомин и Партнёры» (ранее – МКА «Интеллект и Право») добились смягчения квалификации преступления и заявили ходатайство о немедленном освобождении доверителя из-под стражи.",
        text: [
          "Адвокаты Адвокатского бюро «Дмитрий Фомин и Партнёры» Масрур Джалилов и Полина Власюк добились смягчения квалификации преступления, вменяемого подзащитному Адвокатского бюро с ч.2 ст.162 УК РФ (разбой, совершённый группой лиц по предварительному сговору) на ч.1 ст.116 и п. «в» ч.2 ст. 158 УК РФ. В настоящее время органами предварительного расследования рассматривается ходатайство защитников об освобождении доверителя из-под стражи. "
        ],
        picture: "service-1"
      },
      {
        datetime: "2024-08-03",
        time: "3 августа 2024 г.",
        href: "news-inner-2.html",
        title: "Управляющий партнёр АБ «Дмитрий Фомин и Партнёры» Дмитрий Анатольевич Фомин провёл рабочую встречу с it-разработчиками, которые разрабатывают для нужд Бюро программный продукт, позволяющий более эффективно защищать интеллектуальные права Доверителей.",
        text: [
          "Под руководством Управляющего партнёра Адвокатского бюро «Дмитрий Фомин и Партнёры» Фомина Дмитрия Анатольевича продолжается разработка программного продукта, призванного улучшить качество оказываемой юридической помощи доверителям, в сфере защиты интеллектуальных прав.",
          "На общей встрече Заместитель Управляющего партнёра Масрур Джалилов доложил, что за один месяц совместной работы с разработчиками удалось составить техническое задание и завершить первый этап разработки программного продукта. В настоящее время, программный продукт позволяет автоматизировано выявлять сайты на котором, в нарушение прав Доверителей, распространяется пиратский контент. В ближайшее время программа сможет автоматизировано составлять заявления о принятии обеспечительных мер и исковые заявления. На третьем этапе программа будет позволять автоматизировано направлять процессуальные документы в суд. При этом этапы разделены таким образом, что при начале реализации каждого следующего этапа, адвокаты имеют возможность использовать уже разработанную часть программы, то есть разработанная часть программы уже активно используется адвокатами в работе.",
          "Дмитрий Анатольевич высоко оценил проделанную работу и призвал не сбавлять темп. Кроме того, Управляющий партнёр отметил, что не сомневается в том, что цели, поставленные перед командой разработчиков, будут достигнуты и в будущем будут автоматизированы иные направления, в рамках которых адвокаты Бюро оказывают помощь Доверителям."
        ],
        picture: "service-2"
      },
      {
        datetime: "2024-07-04",
        time: "4 июля 2024 г.",
        href: "news-inner-3.html",
        title: "Управляющий партнёр Адвокатского бюро «Дмитрий Фомин и Партнёры» Дмитрий Анатольевич Фомин утвердил стандарт Бюро об оказании юридической помощи по уголовным делам.",
        text: [
          "На общем собрании членов Адвокатского бюро, Дмитрий Анатольевич заслушал доклад адвоката, Старшего партнёра Бюро – руководителя уголовной практики Мариненко Кирилла Алексеевича, который представил проект Стандарта об оказании юридической помощи по уголовным делам. Данный документ затрагивает все ключевые вопросы, связанные с защитой прав доверителей, и включает в себя практические рекомендации адвокатов Бюро (бывших судей и прокуроров) в наиболее сложных правовых ситуациях, возникающих в процессе уголовного судопроизводства. ",
          "Дмитрий Анатольевич утвердил предложенный Стандарт, но призвал адвокатов помнить, что каждое дело уникально и защита Доверителя не может быть сведена к механической работе по выполнению, каких-либо алгоритмов. «Адвокат должен творчески подходить к своей работе и всегда находить лучшие решения» - сказал Дмитрий Анатольевич."
        ],
        picture: "service-3"
      },
    ]
  section.section-main.news
    .container-inner
      +bread-crumbs([
        {
          text: "Главная",
          href: "index.html"
        },
        {
          text: "Новости"
        }
      ])
      h1 Новости

    .container
      .news__wrapper
        each item in news
          +card-news-item-options(item)
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
        +card-news-item
      .news__pagination
        a(href="#").news__pagination-item.news__pagination-item--active 1
        a(href="#").news__pagination-item 2
        a(href="#").news__pagination-item 3
