mixin news-item-head()
  section.news-item-head.section-main-picture
    .container-inner
      .section-main-picture__info-wrapper
        +bread-crumbs([
          {
            text: "Главная",
            href: "index.html"
          },
          {
            text: "Новости",
            href: "news.html"
          },
          {
            text: "Победы наших коллег на стамбульском премуте конкурса им. Виллема виса 2024"
          }
        ])
        h1.news-item-head__title Победы наших коллег на стамбульском премуте конкурса им. Виллема виса 2024
        .news-item-head__pretext
          p Опубликовано:
            time(datetime="2024-02-12") 12 февраля 2024 г.
          a(href="#") #события
        .news-item-head__text
          p
           | В частности, постоянный количественный рост и сфера нашей активности представляет
           | собой интересный эксперимент проверки новых принципов формирования материально-технической
           | и кадровой базы. Есть над чем задуматься: многие известные личности призывают нас к новым
           | свершениям, которые, в свою очередь, должны быть заблокированы в рамках своих собственных
           | рациональных ограничений. В частности, базовый вектор развития, а также свежий взгляд на
           | привычные вещи — безусловно открывает новые горизонты для существующих финансовых и
           | административных условий.

    .section-main-picture__images
      +picture("content/section", "news-inner", "png", 773, 760, "фото для раздела", false)
