mixin quotation()
  .quotation
    .quotation__wrapper
      .quotation__text
        p
         | Наши адвокаты не останавливаются на достигнутом, мы стремимся к постоянному
         | профессиональному развитию и обучению, чтобы быть в курсе последних изменений
         | в законодательстве и лучших практик в области права. Мы поддерживаем высокие стандарты
         | этики и профессионализма, чтобы обеспечить беспрецедентно высокое качество
         | оказания юридической помощи нашим доверителям.
        p
         | Мы всегда открыты для взаимодействия и готовы к сотрудничеству.
      .quotation__author
        .quotation__author-image
          +picture("content/about", "author", "png", 180, 160, "фото автора цитаты", true)
        p.quotation__author-name Фомин Дмитрий Анатольевич
        p.quotation__author-post Председатель Коллегии
