mixin team()
  -
    const team = [
      {
        image: "partner-1",
        name: "Фомин Дмитрий Анатольевич",
        post: "Председатель Коллегии"
      },
      {
        image: "partner-2",
        name: "Сукноваленко Виктор Михайлович",
        post: "Юрист"
      },
      {
        image: "partner-3",
        name: "Тоцкая Алина Александровна",
        post: "Юрист"
      },
      {
        image: "partner-4",
        name: "Чуркина Олеся Валерьевна",
        post: "Юрист"
      },
      {
        image: "partner-5",
        name: "Джалилов Масрур Максудович",
        post: "Юрист"
      },
      {
        image: "partner-6",
        name: "Мариненко Кирилл Алексеевич",
        post: "Юрист"
      },
      {
        image: "partner-7",
        name: "Власюк Полина Андреевна",
        post: "Юрист"
      },
      {
        image: "partner-8",
        name: "Власюк Полина Андреевна",
        post: "Юрист"
      },
    ];

  section.section-main.team
    .container-inner
      +bread-crumbs([
        {
          text: "Главная",
          href: "index.html"
        },
        {
          text: "Команда"
        }
      ])
      h1 Команда

    .container
      .team__wrapper
        each item in team
          +card-partner(item)

