.advantages {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 64px;

    width: 100%;

    @include vp-1919 {
      gap: 3.57%;
    }

    @include vp-1439 {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;
    }

    @include vp-1279 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 24px;
    }

    @include vp-639 {
      grid-template-columns: 1fr;
    }
  }

  &>* {
    min-height: 268px;

    @include vp-767 {
      min-height: initial;
    }
  }

  &__first-item {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: span 2;

    @include vp-639 {
      grid-column: span 1;

      display: block;
      padding-bottom: 16px;
    }
  }

  &__first-item-wrapper {
    max-width: 554px;
    width: 100%;
  }

  &__first-item-subtitle {
    margin: 0;
    padding-left: 63px;

    font-family: $ff-good-vibes;
    font-size: 40px;
    line-height: 80%;
    color: $color-main;

    @include vp-767 {
      padding-left: 26px;

      font-size: 24px;
    }
  }

  &__first-item-title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 88px;
    line-height: 80%;
    letter-spacing: -0.04em;

    @include vp-767 {
      font-size: 36px;
    }
  }

  &__first-item-text {
    margin: 0;

    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-indent: 60px;
    color: $color-txt2;

    @include vp-767 {
      font-size: 15px;
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 400 / 268;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}