.btn {
  display: inline-flex;
  flex-direction: column;

  width: 260px;
  height: 90px;
  padding: 20px 28px;
  border: 1px solid $color-main;

  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  color: $color-white;

  background-color: $color-main;

  transition: color $trans-default, background-color $trans-default;

  @include vp-767 {
    font-size: 15px;
    line-height: 21px;
  }

  span {
    margin-right: auto;
    margin-top: auto;
  }

  svg {
    width: 13px;
    height: 13px;
    margin-left: auto;
    margin-bottom: 6px;
  }

  &--full-width {
    width: 100%;
  }

  @include hover-focus {
    background-color: $color-bg;
    color: $color-main;
  }
}