mixin advantage-item(options)
  .advantage-item
    +icon(options.icon, 36, 36)
    .advantage-item__text
      h3.advantage-item__title= options.title
      p.advantage-item__description= options.description
