mixin card-news-item()
  .card-news-item&attributes(attributes)
    time(datetime="2024-02-12").card-news-item__data 12 февраля 2024 г.
    a(href="news-inner.html").card-news-item__link
      .card-news-item__title Победы наших коллег на стамбульском премуте конкурса им. Виллема виса 2024
      p.card-news-item__description Четверо наших коллег, в составе команд мгу и вшэ, стали победителями и полуфиналистами стамбульского премута в рамках конкурса им. Виллема виса 2024.
    p.card-news-item__tag-list
      a(href="#").card-news-item__tag-item #события

