mixin practices()
  -
    const serviceList = [
      {
        title: ["Общеуголовная", "практика", "001"],
        image: "service-1",
        text: "В рамках общеуголовной практики наши адвокаты оказывают квалифицированную юридическую помощь Доверителям по уголовным делам.",
        href: "#"
      },
      {
        title: ["Уголовно-правовая", "защита бизнеса", "002"],
        image: "service-2",
        text: "В рамках практики уголовно-правовой защиты бизнеса наша Коллегия поможет Вашему бизнесу ответить на все запросы правоохранительных органов. ",
        href: "#"
      },
      {
        title: ["Арбитражная", "практика", "003"],
        image: "service-3",
        text: "Мы предоставляем полный спектр юридических услуг в области арбитража, начиная от консультаций по альтернативным способам разрешения споров до полного представления интересов доверителей на всех стадиях арбитражного процесса. ",
        href: "#"
      },
      {
        title: ["Банкротство", "", "004"],
        image: "service-4",
        text: "Мы специализируемся на оказании помощи доверителям, которые столкнулись с проблемами связанными с финансовыми трудностями -  неплатежеспособностью.",
        href: "#"
      },
      {
        title: ["Правовое", "сопровождение бизнеса", "005"],
        image: "service-5",
        text: "Наша коллегия адвокатов имеет многолетний опыт и экспертизу в предоставлении качественного правового сопровождения бизнеса. ",
        href: "#"
      },
      {
        title: ["Гражданская", "практика", "006"],
        image: "service-6",
        text: "Наша команда адвокатов имеет глубокие знания и богатый опыт в различных аспектах гражданского права.",
        href: "#"
      },
      {
        title: ["Договорная", "практика", "007"],
        image: "service-7",
        text: "Мы помогаем нашим доверителям в составлении, анализе и пересмотре различных видов договоров, включая куплю-продажу, аренду, займы, дарение и другие. ",
        href: "#"
      },
    ]
  .practices
    each item in serviceList
      +service-item(item)
