mixin slider-navigation()
  .slider-navigation
    button.slider-navigation__button.swiper-button-prev
      +icon("navigation-arrow", 16, 16)
    button.slider-navigation__button.swiper-button-next
      +icon("navigation-arrow", 16, 16)
