mixin title-practice(item1, item2, number)
  h3.title-practice
    span.title-practice__group
      span.title-practice__item= item1
        span.title-practice__number= number
    span.title-practice__item-second= item2
