mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "about.html",
        text: "О нас"
      },
      {
        href: "services",
        text: "Практики"
      },
      {
        href: "team.html",
        text: "Команда"
      },
      {
        href: "news.html",
        text: "Новости"
      },
      {
        href: "contacts.html",
        text: "Контакты"
      },
    ]

  header.header(class=headerMods, data-header="")
    .container
      +logo("header")
      .header__wrapper(data-close-menu)
        nav.main-nav
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
        p.text-indent.header__slogan
          | От простой консультации до сложных судебных споров – мы всегда рядом,
          | чтобы вы могли уверенно двигаться вперед.
        //-+link-consultation()
        +btn({
          href: "#",
          text: "Консультация"
        })
      button.header__menu-button(type="button", data-burger, aria-label="Переключатель отображения меню", aria-pressed="false")
        +icon("open-burger", 15, 15).header__open-burger
        +icon("close-burger", 15, 15).header__close-burger

